.DS_Store
.eslintcache
.idea
.nuxt
.output
.provis
.vite-inspect
*-export
*.local
*.pdf
assets/demo
components.d.ts
composable-vue-cn
dist
dist-ssr
docs/.vitepress/@provis
docs/.vitepress/cache
node_modules